<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AreaPath" value="Antares\FrontEnd"/>
    <add key="IterationPath" value="Antares\FrontEnd\Nickel"/>
    <add key="Tags" value="krpbfe"/>
    <!--add key="Tags" value="krpbfe,triage"/-->
    <!--add key="Tags" value="krpbfe,Bug Bash"/-->
    <add key="Priority" value="1"/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>